.vscode/settings.json
ServidorDeCalculoPreferencias/target/classes/co/edu/unicauca/capaDeControladores/ControladorPreferenciasUsuariosIml.class
ServidorDeCalculoPreferencias/target/classes/co/edu/unicauca/configuracion/lector/LectorPropiedadesConfig.class
ServidorDeCalculoPreferencias/target/classes/co/edu/unicauca/configuracion/servicios/ServidorDeObjetos.class
ServidorDeCalculoPreferencias/target/classes/co/edu/unicauca/fachadaServices/DTO/CancionDTOEntrada.class
ServidorDeCalculoPreferencias/target/classes/co/edu/unicauca/fachadaServices/DTO/PreferenciaArtistaDTORespuesta.class
ServidorDeCalculoPreferencias/target/classes/co/edu/unicauca/fachadaServices/DTO/PreferenciaGeneroDTORespuesta.class
ServidorDeCalculoPreferencias/target/classes/co/edu/unicauca/fachadaServices/DTO/PreferenciaIdiomaDTORespuesta.class
ServidorDeCalculoPreferencias/target/classes/co/edu/unicauca/fachadaServices/DTO/PreferenciasDTORespuesta.class
ServidorDeCalculoPreferencias/target/classes/co/edu/unicauca/fachadaServices/DTO/ReproduccionesDTOEntrada.class
ServidorDeCalculoPreferencias/target/classes/co/edu/unicauca/fachadaServices/services/PreferenciasServiceImpl.class
ServidorDeCalculoPreferencias/target/classes/co/edu/unicauca/fachadaServices/services/calculadorPreferencias/CalculadorPreferencias.class
ServidorDeCalculoPreferencias/target/classes/co/edu/unicauca/fachadaServices/services/compComunicacionServidorReproducciones/ComunicacionServidorReproducciones.class
ServidorDeCalculoPreferencias/target/classes/co/edu/unicauca/fachadaServices/services/componenteCalculaPreferencias/CalculadorPreferencias.class
ServidorDeCalculoPreferencias/target/classes/co/edu/unicauca/fachadaServices/services/comunicacionCanciones/ComunicacionServidorCanciones.class
ServidorDeCalculoPreferencias/target/classes/co/edu/unicauca/fachadaServices/services/comunicacionReproducciones/ComunicacionServidorReproducciones.class
ServidorDeCalculoPreferencias/target/classes/co/edu/unicauca/main/Main.class
